SECRET_KEY="61i489^f7d_h&l*2f&9_u71j^_a7fy!di939^lgo_u(lg%m99i"
DEBUG=True

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_PASSWORD=

DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_PASSWORD=
DJANGO_SUPERUSER_EMAIL=

GIO2Y=
wivs2r=

GOOGLE_APPLICATION_CREDENTIALS=<path-to-json>
GCS_BUCKET_NAME=<bucket-name>


DEEPGRAM_API_KEY=<Your Deepgram API Key>
# OPENAI_API_KEY=<Your OpenAI API Key>
# CARTESIA_API_KEY=<Your Cartesia API Key>
LIVEKIT_API_KEY="devkey"
LIVEKIT_API_SECRET="secret"
LIVEKIT_URL="ws://localhost:7880"
GOOGLE_API_KEY="<your gemini api key>"
GEMINI_API_KEY="<your gemini api key>" # same as google api key

EMAIL_SENDER="<sender email>"
EMAIL_PASSWORD="<sender email password>" # app password if using gmail